@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ECE6F4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-color: #663AB4;
    color: white;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.233);
    padding: 10px 10px 50px;
    margin: auto;
}

main {
    background-color: white;
    min-width: 270px;
    max-width: 1000px;
    min-height: 10px;
    margin: auto;
    margin-top: -80px;
    padding: 20px;
    line-height: 1.5em;
    margin-bottom: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.171);
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}

a:hover {
    text-decoration: underline;
    background-color: antiquewhite;
    color: #000000;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.473);
}

#vermelho {
    color: red;
    padding-top: 10px;
    padding-bottom: 20px;
}

h3 {
    line-height: .8em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.158);
    padding-top: 10px;
    padding-bottom: 10px;
}

.cinza {
    color: gray;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 05px;
    margin-bottom: 20px;
}

footer {
    background-color: #663AB4;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.233);
    color: white;
    padding: 10px;
    margin: auto;
}